body * {
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
input:hover {
    background-color: rgb(44, 206, 246);
}
.user-avatar-standart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container {
    width: 570px;
    margin: 0 auto;
}